<div class="example-container">
  <mat-card>
    <mat-grid-list cols="12" rowHeight="52px" gutterSize="16px" >
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="1"
      >
        <mat-form-field>
          <input matInput placeholder="Nome">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="1"
      >
        <mat-form-field>
          <input matInput placeholder="Sobrenome">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="1"
      >
        <mat-form-field>
          <input matInput placeholder="E-mail">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="1"
      >
        <mat-form-field>
          <input matInput placeholder="Sexo">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="1"
      >
        <mat-form-field>
          <input matInput placeholder="Área de formação">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="1"
      >
        <mat-form-field>
          <input matInput placeholder="Profissão">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="1"
      >
        <mat-form-field>
          <input matInput placeholder="Cidade">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="1"
      >
        <mat-form-field>
          <input matInput placeholder="Estado">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <a mat-raised-button color="primary" href="/criar-pessoas">Salvar</a>
  </mat-card>
</div>
